thead tr:nth-child(odd) {
    background-color: hwb(0 71% 29%);/* фон нечетных строк в голове*/
}

thead tr:nth-child(even) {
    background-color: hsl(302, 70%, 83%);;/* фон четных строк в голове*/
}

tbody tr:nth-child(odd) {
    background-color: hwb(0 71% 29% / 0.43);/* фон нечетных строк в теле*/
}

tbody tr:nth-child(even) {
    background-color: hsla(302, 70%, 83%, 0.477);/* фон четных строк в теле*/
}

header, footer, nav, article {display: block;}


header{
    display: flex;
	width: 100%;
    max-width: 960px;
	background: hsla(302, 70%, 83%, 0.492);
	height: 70px;
    padding: 10px 20px;
    align-items: center;
    justify-content:space-between;
}

#name{
font-size: 1.5rem;
}

#logo{
    float: left;
    width:100px;
}

#menu{
    display:flex;
    margin: 0;
    padding:0;
    list-style-type: none;
    border: 2px solid #ffffff;
    border-radius: 20px 5px;
    width: 550px;
    text-align: center;
    background-color:hsl(303, 95%, 86%);
    float: right;
}

#menu li{ 
    display: inline;
    margin-right: 20px;
}

#menu a {
    color: #000000;
    padding: 5px 10px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    width: 150px;
  }
  #menu a:hover {
    border-radius: 20px 5px;
    background-color: #ffffff;
  }

footer{
    max-width: 960px;
    height: 100px;
    background: hsla(302, 70%, 83%, 0.492);
    text-align: center;
}